body {
    margin: 0px;
    background-color: #eee;
}

.MainAreaStyle
{
    font-family: "palatino linotype", palatino, serif;
    background-color: #fff;
    width: 850px;  
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.TitleAreaStyle
{
    background-color: #111;
    color:#dedede;
    width: calc( 100% - 20px );
    padding: 10px 0px 0px 20px;
    height: 70px;
    font-size: 40px;
}

.AppAreaStyle
{
    width: calc( 100% - 80px ); 
    background-image: url("../image/top.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-around; */
    align-items: center;
    padding: 40px 40px 40px 40px;
}

.AppStartAreaStyle
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.AppTextStyle
{
    width: calc( 100% - 40px );
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 20px 0px;
    font-size: 20px; 
    color: #000;
}

.AppStartButtonStyle
{
    width: 120px;
    height: 60px;
    padding: 20px 30px 20px 30px;
    margin: 0 auto;    
    border-radius: 20px;
    background-color: #4C5EDC;
    color:#fff;       
    font-size: 24px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}

.AppStartButtonStyle:hover
{
    background-color: #8C8EDC;
    cursor: pointer;
}

.CreditsAreaStyle
{
    text-align: right;
    font-size:8px;
    margin: 0px 5px 0px 0px;
}

.Space1
{
    width: 100%;
    height: 50px;
}

.AppImageAreaStyle
{
    width: 90%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.UsageAreaStyle
{
    width: calc(40% - 10px);
    margin: 0 auto;
    font-size: 20px;
    padding: 0px 0px 0px 10px;
}

.SampleLabelStyle
{
    font-size: 36px; 
    width: 90%;
    margin: 0 auto;
    border: 1px solid #777;
    border-style: none none solid none;
}

.ContentsListAreaStyle
{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.SampleContentStyle
{
    display : flex;
    flex-direction : column;
    margin : 20px 10px 40px 10px;
    border : 1px solid #ddd;
    border-style : solid;      
}

.SampleContentStyle:hover
{
    opacity: 0.6;
    cursor: pointer;
}

.FooterAreaStyle
{
    background-color: #111;
    color:#dedede;
    width: calc( 100% - 10px );
    padding: 10px 0px 0px 10px;
    height: 70px;
}
