
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 3px;
}

body {
    background-color: rgb(114, 114, 114);
    margin: 0px;
    -webkit-user-select: none;   
    -webkit-touch-callout: none;
}

#MainArea {
    width: 100%;
    min-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#WebGLCanvas {
    width: calc( 100% - 360px );
    height: 100%;
}

#TextureSetting {
    width: 320px;
    height: calc( 100% - 40px );
    margin: 20px 20px 20px 20px;
}