
.titleArea
{
    background-color:#ddd;
    color:#1D0A4B;
}

.modeChangeButtonArea
{
    display: flex;
    flex-direction: row-reverse;
}

.modeChangeButton
{
    width: 60px;    
    padding: 5px 10px 5px 10px;
}

.modeChangeButtonSelect
{
    width: 60px;    
    padding: 5px 10px 5px 10px;
    background-color:#eee;
    color:#2e2e2e;
}

.modeChangeButton:hover
{
    cursor: pointer;
}

.buttonTypeA:hover
{
    background-color:#ddd;
    color:#0e0e0e;
}
