
.popupParamSetting
{
	position: absolute;
    width: 120px;
    background-color: #eee;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: solid 2px #ccc;

    font-family: "palatino linotype", palatino, serif;
}

.popupGuiCompnentArea
{
    width: 100%;
    margin-bottom: 10px;
}

.popupGuiCompnent
{
    width: 100%;
}
