
.popupParamViewer
{
	position: absolute;
    width: 120px;
    background-color: #eee;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;

    font-family: "palatino linotype", palatino, serif;
}
