
.timeSliderArea
{
	position: absolute;
    width: 380px;
    height: 120px;
    background-color: #eee;
    opacity: 0.8;

    font-family: "palatino linotype", palatino, serif;
}

.timeSliderStyle
{
	position: absolute;
}

.periodInputAreaStyle
{
    position: absolute;
    display: flex;
    flex-direction: row;    
    top : 15px;
    right : 15px;
    z-index: 1; 
}

.periodInputStyle
{
    width : 100px;
    margin: 0px 5px 0px 0px;
}